.ace_bank_separator {
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 1px red dashed;
}

.ace_gutter-cell.ace_breakpoint{
  border-radius: 20px 0 0 20px;
  box-shadow: 0 0 1px 1px red inset;
}
